.add-list-input{
  width: 300px;
  height: fit-content;
}
.add-card{
  width: 300px;
}
.add-card-btn:hover{
 background-color: #474747 !important;
}
.add-list{
  width: 300px;
  height: 50px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all 0.3s ease;
}
.add-list:hover{
  background: rgba(145, 145, 145, 0.25);
}
.navbar{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.add-card-inner  .dropdown-toggle::after{
  content: unset;
}
.board-get{
  background: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/326f958b16f3b534dabc9e4d0b8aeb72/photo-1685665509769-3a907848565f.jpg');
  font-size: 14px;
  height: 100vh;
}